<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-203.5,208}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{410,419}</string>
                <key>textureRect</key>
                <string>{{345,236},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-77}</string>
                <key>spriteSize</key>
                <string>{338,203}</string>
                <key>spriteSourceSize</key>
                <string>{410,419}</string>
                <key>textureRect</key>
                <string>{{345,650},{338,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-77}</string>
                <key>spriteSize</key>
                <string>{336,199}</string>
                <key>spriteSourceSize</key>
                <string>{410,419}</string>
                <key>textureRect</key>
                <string>{{1,951},{336,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-77}</string>
                <key>spriteSize</key>
                <string>{336,199}</string>
                <key>spriteSourceSize</key>
                <string>{410,419}</string>
                <key>textureRect</key>
                <string>{{677,882},{336,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-77}</string>
                <key>spriteSize</key>
                <string>{336,199}</string>
                <key>spriteSourceSize</key>
                <string>{410,419}</string>
                <key>textureRect</key>
                <string>{{339,1080},{336,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-77}</string>
                <key>spriteSize</key>
                <string>{336,199}</string>
                <key>spriteSourceSize</key>
                <string>{410,419}</string>
                <key>textureRect</key>
                <string>{{1,1152},{336,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-77}</string>
                <key>spriteSize</key>
                <string>{336,199}</string>
                <key>spriteSourceSize</key>
                <string>{410,419}</string>
                <key>textureRect</key>
                <string>{{677,1083},{336,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-65}</string>
                <key>spriteSize</key>
                <string>{336,223}</string>
                <key>spriteSourceSize</key>
                <string>{410,419}</string>
                <key>textureRect</key>
                <string>{{339,855},{336,223}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-30}</string>
                <key>spriteSize</key>
                <string>{336,293}</string>
                <key>spriteSourceSize</key>
                <string>{410,419}</string>
                <key>textureRect</key>
                <string>{{707,1},{336,293}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-30}</string>
                <key>spriteSize</key>
                <string>{336,293}</string>
                <key>spriteSourceSize</key>
                <string>{410,419}</string>
                <key>textureRect</key>
                <string>{{703,339},{336,293}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-30}</string>
                <key>spriteSize</key>
                <string>{336,293}</string>
                <key>spriteSourceSize</key>
                <string>{410,419}</string>
                <key>textureRect</key>
                <string>{{1,656},{336,293}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-203.5,208}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{410,419}</string>
                <key>textureRect</key>
                <string>{{350,236},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,39}</string>
                <key>spriteSize</key>
                <string>{354,233}</string>
                <key>spriteSourceSize</key>
                <string>{410,419}</string>
                <key>textureRect</key>
                <string>{{1,1},{354,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-32}</string>
                <key>spriteSize</key>
                <string>{348,223}</string>
                <key>spriteSourceSize</key>
                <string>{410,419}</string>
                <key>textureRect</key>
                <string>{{357,1},{348,223}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-81}</string>
                <key>spriteSize</key>
                <string>{342,211}</string>
                <key>spriteSourceSize</key>
                <string>{410,419}</string>
                <key>textureRect</key>
                <string>{{1,236},{342,211}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-83}</string>
                <key>spriteSize</key>
                <string>{342,207}</string>
                <key>spriteSourceSize</key>
                <string>{410,419}</string>
                <key>textureRect</key>
                <string>{{345,441},{342,207}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-85}</string>
                <key>spriteSize</key>
                <string>{342,205}</string>
                <key>spriteSourceSize</key>
                <string>{410,419}</string>
                <key>textureRect</key>
                <string>{{1,449},{342,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-78}</string>
                <key>spriteSize</key>
                <string>{338,203}</string>
                <key>spriteSourceSize</key>
                <string>{410,419}</string>
                <key>textureRect</key>
                <string>{{685,677},{338,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-76}</string>
                <key>spriteSize</key>
                <string>{344,213}</string>
                <key>spriteSourceSize</key>
                <string>{410,419}</string>
                <key>textureRect</key>
                <string>{{357,226},{344,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>red.png</string>
            <key>size</key>
            <string>{1024,1352}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8c034cd3f1932d5c54ad7b1d916d5f37:5be4572fb40c3969f0cf37248e0f35b2:1e39cfd51898951b5ed824f58acb51cc$</string>
            <key>textureFileName</key>
            <string>red.png</string>
        </dict>
    </dict>
</plist>
